__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
.DS_Store
.env
data/
models/
*.parquet
*.npz
*.pt
*.csv
data/
train_gen_CNN/
windows/
*.parquet
*.npz
*.pt
*.csv
data/
train_gen_CNN/
FF5_portfolios/
*.parquet
*.npz
*.pt
*.csv

